<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title> James' CRM App </title>
	<link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
<div id="logoandcontent">
	<div id="logo">
	crm
	</div>
	<div class="divcurvedbox">
			<div class="contentcontainer">
				<div id="navbar">
					<nav>
						<a href="/">Home</a>
						<a href="/contacts">All</a>
						<a href="/contacts/new">New</a>
						<a href="/">Edit</a>
					</nav>
				</div>
			<%= yield %>
			</div>
		<div id="footer">Created by James McGeachie!</div>
	</div>
</div>
</body>
</html>
