<h1>Add a new contact</h1>
<fieldset>
<legend>Add New Contact</legend>
	<div class="form">
	<form action="/contacts" method="post">
	  <div class="labels">
		  <p><label for="first-name"> First name </label></p>
		  <p><label for="last-name"> Last name </label></p>
		  <p><label for="email"> Email </label></p>
		  <p><label for="notes"> Notes </label></p>
	  </div>

		<div class="inputs">
			<p><input type="text" name="first_name" id="first-name" placeholder="John"></p>
			<p><input type="text" name="last_name" id="last-name" placeholder="Doe"></p>
			<p><input type="text" name="email" id="email" placeholder="e.g. johndoe2015@gmail.com"></p>
		  <p><input type="text" name="notes" id="notes" placeholder="e.g. My Bestie!"></p>
		 </div>

	  <div id="submit">
	  <input type="submit" value="Save New Contact">
	  </div>
	</form>
	</div>
</fieldset>
