body {
	background-color: white;
	color: white;
	font-size: 20px;
}

nav > a {
	padding-right: 15px;
}

#logoandcontent {
	position: relative;
	background-color: #d4f7f9;
	margin: auto;
	width: 85%;
	border: 10px double #283261;
	border-radius: 30px;
}

#logo {
	font-family: Arial;
	font-size: 100px;
	text-align: center;
	padding: 5px;
	float: top;
	display: block;
	color: #283261;
	width: 40%;
	margin: auto;
}

#navbar {
	padding: 10px;
	border: 1px solid white;
	background-color: #283261;
	position: relative;
	font-size: 14px;
	border-radius: 5px;
	text-align: center;
	margin: auto;
	width: 55%;
}

p {
	color: white;
}

.divcurvedbox {
	font-family: Arial;
	background-color: #283261;
	width: 65%;
	margin: auto;
	position: relative;
	border-radius: 20px;
	padding-top: 30px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 70px;
}

.contentcontainer {
	position: relative;
	padding: 10px;
	width: 80%;
	margin: auto;
}

h1 {
	font-size: 22px;
	text-align: center;
	margin-top: 30px;
}

.menu {
	margin: auto;
	margin-top: 25px;
	font-size: 20px;
}

#footer {
	font-size: 12px;
	padding: 10px;
	clear: both;
	color: #283261;
	text-align: center;
	margin: auto;
}

a {
	text-decoration: none;
	color: #f3ae45;
}

.labels {
	float: left;
	display: inline-block;
	font-size: 20.5px;
	margin-right: 10px;
}

.inputs {
	float: right;
	display: inline-block;
}

#submit {
	text-align: right;
	clear: both;
}

.form {
	padding: 20px;
}

#show {
	text-align: center;
}

#all {
	text-align: center;
	float: center;
	margin: auto;
}

div > table {
	border: 1px solid white;
	text-align: left;
	padding: 10px;
	margin: auto;
}

td {
	font-size: 16px;
}

.delete {
	text-align: center;
	padding: 20px;
}

#mainmenu {
	text-align: center;
}

th > tr > td {
	text-align: center;
}

div > p > label {
	color: orange;
}
