body {
	background-color: orange;
	color: white;
	font-size: 20px;
}

nav > a {
	padding-right: 15px;
}

#logoandcontent {
	position: relative;
	margin-left: 3%;
	margin-right: 3%;
}

#logo {
	font-family: Arial;
	font-size: 120px;
	text-align: center;
	padding: 10px;
	float: top;
	color: #15053f;
}

#navbar {
	padding: 10px;
	border: 1px solid white;
	background-color: #15053f;
	position: relative;
	font-size: 14px;
	border-radius: 5px;
	text-align: center;
}

p {
	color: orange;
}

.divcurvedbox {
	font-family: Arial;
	background-color: #15053f;
	margin-left: 10%;
	margin-right: 10%;
	position: relative;
	border-radius: 20px;
	margin-bottom: 10%;
	padding-top: 30px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 100px;
}

.contentcontainer {
	position: relative;
	padding: 20px;
}

h1 {
	font-size: 22px;
	padding: 20px;
	text-align: center;
}

.menu {
	padding: 20px;
}

#footer {
	font-size: 12px;
	padding: 10px;
	clear: both;
	text-align: center;
}

a {
	text-decoration: none;
	color: #f3ae45;
}

.labels {
	float: left;
	display: inline-block;
	font-size: 20.5px;
	margin-right: 10px;
}

.inputs {
	float: right;
	display: inline-block;
}

#submit {
	text-align: right;
	clear: both;
}

.form {
	padding: 20px;
}
